body{
    margin: 0;
    padding: 0;
width: 100%;
height: 100%;
    background-color: #ffd1dc;
    overflow: hidden;
}
.grass{
    position: absolute;
    transform: translateY(775px);
}
.mountains{
    position: absolute;
}
.fence{
    position: absolute;
    transform: translateY(-30px);
}
.floom{
    position: absolute;
    transform: scale(0.6) translate(-320px,-50px);

}


.Cloud1{
    position: absolute;
    transform: translate(400px, 10px) scale(1.5);
    animation: cloudmove1 10s infinite linear;
}
.Cloud2{
    position: absolute;
    transform: translate(1400px, 25px) scale(1.5);
    animation: cloudmove2 10s infinite linear;
}
.Sun{
    position: absolute;
    animation: sunswirl 20s infinite linear;
    margin-left: 800px;
    margin-top: -100px;

}
@keyframes sunswirl{
    100%{transform: rotate(359deg);}
}

@keyframes cloudmove1 {
    0%,100%{transform: translate(400px, 10px) scale(1.5);}
    50%{ transform: translate(725px, 10px) scale(1.5);}
}
@keyframes cloudmove2 {
    0%,100%{transform: translate(1600px, 25px) scale(1.5);;}
    50%{ transform: translate(1075px, 25px) scale(1.5);}
}


@keyframes redrose-skew-right1{
    0%,100%{transform: translate(0px,450px) skewX(0);}
    50%{transform: translate(0px,450px) skewX(4deg);}
}
@keyframes redrose-skew-left1{
    0%,100%{transform: translate(100px,450px) skewX(0);}
    50%{transform: translate(100px,450px) skewX(-4deg);}
}
@keyframes redrose-skew-right2{
    0%,100%{transform: translate(200px,450px) skewX(0);}
    50%{transform: translate(200px,450px) skewX(4deg);}
}
@keyframes redrose-skew-left2{
    0%,100%{transform: translate(325px,450px) skewX(0);}
    50%{transform: translate(325px,450px) skewX(-4deg);}
}
@keyframes redrose-skew-right3{
    0%,100%{transform:  translate(450px,450px) skewX(0);}
    50%{transform:  translate(450px,450px) skewX(4deg);}
}

@keyframes redrose1{
    0%,100%{ transform: translate(0px,450px) scale(1);}
    50%{transform: translate(0px,400px) scale(1.1);}
}
@keyframes redrose2{
    0%,100%{ transform: translate(200px,450px) scale(1);}
    50%{transform: translate(200px,400px) scale(1.1);}
}
@keyframes redrose3{
    0%,100%{ transform: translate(100px,450px) scale(1);}
    50%{transform: translate(100px,400px) scale(1.1);}
}
@keyframes redrose4{
    0%,100%{ transform: translate(325px,450px) scale(1);}
    50%{transform: translate(325px,400px) scale(1.1);}
}
@keyframes redrose5{
    0%,100%{ transform: translate(450px,450px) scale(1);}
    50%{transform: translate(450px,400px) scale(1.1);}
}
.redrose1:hover{
    animation: redrose1 1s infinite;
}
.redrose2:hover{
    animation: redrose2 1s infinite;
}
.redrose3:hover{
    animation: redrose3 1s infinite;
}
.redrose4:hover{
    animation: redrose4 1s infinite;
}
.redrose5:hover{
    animation: redrose5 1s infinite;
}
.redrose1{
    position: absolute;
    transform: translate(0px,450px);
    animation: redrose-skew-right1 3s infinite linear;
}
.redrose2{
    position: absolute;
    transform: translate(200px,450px);
    animation: redrose-skew-right2 3s infinite linear;
}
.redrose3{
    position: absolute;
    transform: translate(100px,450px);
    animation: redrose-skew-left1 3s infinite linear;
}
.redrose4{
    position: absolute;
    transform: translate(325px,450px);
    animation: redrose-skew-left2 3s infinite linear;
}
.redrose5{
    position: absolute;
    transform: translate(450px,450px);
    animation: redrose-skew-right3 3s infinite linear;
}

@keyframes purplerose1{
    0%,100%{ transform:translate(575px,450px) scale(1);}
    50%{transform: translate(575px,400px) scale(1.1);}
}
@keyframes purplerose2{
    0%,100%{ transform: translate(650px,450px) scale(1);}
    50%{transform: translate(650px,400px) scale(1.1);}
}
@keyframes purplerose3{
    0%,100%{ transform: translate(750px,450px) scale(1);}
    50%{transform: translate(750px,400px) scale(1.1);}
}
@keyframes purplerose4{
    0%,100%{ transform: translate(975px,450px) scale(1);}
    50%{transform: translate(975px,400px) scale(1.1);}
}
@keyframes purplerose5{
    0%,100%{ transform: translate(875px,450px) scale(1);}
    50%{transform: translate(875px,400px) scale(1.1);}
}
.purplerose1:hover{
    animation: purplerose1 1s infinite;
}
.purplerose2:hover{
    animation: purplerose2 1s infinite;
}
.purplerose3:hover{
    animation: purplerose3 1s infinite;
}
.purplerose4:hover{
    animation: purplerose4 1s infinite;
}
.purplerose5:hover{
    animation: purplerose5 1s infinite;
}
@keyframes purplerose-skew-right1{
    0%,100%{transform: translate(575px,450px) skewX(0);}
    50%{transform: translate(575px,450px) skewX(4deg);}
}
@keyframes purplerose-skew-left1{
    0%,100%{transform: translate(650px,450px) skewX(0);}
    50%{transform: translate(650px,450px) skewX(-4deg);}
}
@keyframes purplerose-skew-right2{
    0%,100%{transform: translate(750px,450px) skewX(0);}
    50%{transform: translate(750px,450px) skewX(4deg);}
}
@keyframes purplerose-skew-left2{
    0%,100%{transform: translate(975px,450px) skewX(0);}
    50%{transform: translate(975px,450px) skewX(-4deg);}
}
@keyframes purplerose-skew-right3{
    0%,100%{transform: translate(875px,450px) skewX(0);}
    50%{transform: translate(875px,450px) skewX(4deg);}
}

.purplerose1{
    position: absolute;
    transform: translate(575px,450px);
    animation: purplerose-skew-right1 3s infinite linear;
}

.purplerose2{
    position: absolute;
    transform: translate(650px,450px);
    animation: purplerose-skew-left1 3s infinite linear;
}
.purplerose3{
    position: absolute;
    transform: translate(750px,450px);
    animation: purplerose-skew-right2 3s infinite linear;
}
.purplerose4{
    position: absolute;
    transform: translate(975px,450px);
    animation: purplerose-skew-left2 3s infinite linear;
}
.purplerose5{
    position: absolute;
    transform: translate(875px,450px);
    animation: purplerose-skew-right3 3s infinite linear;
}




@keyframes yellowrose-skew-right1{
    0%,100%{transform: translate(1125px,450px)skewX(0);}
    50%{transform:translate(1125px,450px) skewX(4deg);}
}
@keyframes yellowrose-skew-left1{
    0%,100%{transform: translate(1675px,450px)skewX(0);}
    50%{transform:translate(1675px,450px) skewX(-4deg);}
}
@keyframes yellowrose-skew-right2{
    0%,100%{transform: translate(1200px,450px)skewX(0);}
    50%{transform:translate(1200px,450px) skewX(4deg);}
}
@keyframes yellowrose-skew-left2{
    0%,100%{transform: translate(1350px,450px)skewX(0);}
    50%{transform:translate(1350px,450px) skewX(-4deg);}
}
@keyframes yellowrose-skew-right3{
    0%,100%{transform: translate(1525px,450px)skewX(0);}
    50%{transform:translate(1525px,450px) skewX(4deg);}
}

@keyframes yellowrose1{
    0%,100%{ transform:translate(1125px,450px) scale(1);}
    50%{transform: translate(1125px,400px) scale(1.1);}
}
@keyframes yellowrose2{
    0%,100%{ transform: translate(1675px,450px) scale(1);}
    50%{transform:translate(1675px,400px) scale(1.1);}
}
@keyframes yellowrose3{
    0%,100%{ transform: translate(1200px,450px) scale(1);}
    50%{transform: translate(1200px,400px) scale(1.1);}
}
@keyframes yellowrose4{
    0%,100%{ transform: translate(1350px,450px) scale(1);}
    50%{transform: translate(1350px,400px) scale(1.1);}
}
@keyframes yellowrose5{
    0%,100%{ transform: translate(1525px,450px) scale(1);}
    50%{transform: translate(1525px,400px) scale(1.1);}
}
.yellowrose1:hover{
    animation: yellowrose1 1s infinite;
}
.yellowrose2:hover{
    animation: yellowrose2 1s infinite;
}
.yellowrose3:hover{
    animation: yellowrose3 1s infinite;
}
.yellowrose4:hover{
    animation: yellowrose4 1s infinite;
}
.yellowrose5:hover{
    animation: yellowrose5 1s infinite;
}
.yellowrose1{
    position: absolute;
    transform: translate(1125px,450px);
    animation: yellowrose-skew-right1 3s infinite linear;
}
.yellowrose2{
    position: absolute;
    transform: translate(1675px,450px);
    animation: yellowrose-skew-left1 3s infinite linear;
}
.yellowrose3{
    position: absolute;
    transform: translate(1200px,450px);
    animation: yellowrose-skew-right2 3s infinite linear;
}
.yellowrose4{
    position: absolute;
    transform: translate(1350px,450px);
    animation: yellowrose-skew-left2 3s infinite linear;
}
.yellowrose5{
    position: absolute;
    transform: translate(1525px,450px);
    animation: yellowrose-skew-right3 3s infinite linear;
}